<h1>HOME PAGE</h1>
<section>
    <div>
    <img src="../assets/img/cat01.jpg" alt=""> 
    <img src="../assets/img/cat02.jpg" alt="">
    <img src="../assets/img/cat05.jpg" alt="">
    </div>

    <div> <img src="../assets/img/cat011.jpg" alt=""></div>
    <div> <img src="../assets/img/cat08.jpg" alt=""></div>
</section>